@font-face {
    font-family: retroJump;
    src: url(fonts/RetroJump.ttf);
}

.bandeFine{
    height: 1px;
    width: 100%;
    background-color: beige;
}

.bandeLarge{
    height: 3px;
    width: 100%;
    background-color: beige;
}

#bandeFineHaut{
    top : 5px;
}

#bandeLargeHaut{
    top : 10px;
}

#bandeLargeBas{
    top : 60px;
}

#bandeFineBas{
    top : 75px;
}

body {
    background-color: black;
    color: beige;
}

header{
    position: sticky;

    background-color: black;

    font-family: retroJump;
    color: beige;

}

#logoMenu{
    width: 15%;
    height: 15%;
}

#reservation{
    margin: 10px;
    padding: 10px;

    background-color: black;
    border: 2px solid beige;
    border-style: double;
}

nav{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50px;
    margin: 0 auto;
    background-color: red;
    align-items: stretch;
    font-family: retroJump;
}

nav > div {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
}

nav > div > a {
    padding: 0 10px;

    border-left: 2px solid beige;

    font-size: xx-large;
    color: beige;
    text-decoration: none;
}

nav > div > a:hover {
    color: white;
}

nav > div:first-child a{
    border-left: none;
}

.sous-menu{
    display: none;
    position: absolute;
    background-color: black;
    top: 50px;
}

.sous-menu > div{
    padding: 10px;
}

.sous-menu > div > a{
    text-align: center;
    padding: 10px;
    color: beige;
    text-decoration: none;
    font-size: x-large;
}

.sous-menu > a:hover {
    color: white;
}

nav > div:hover .sous-menu{
    display: block;
}
