@font-face {
    font-family: retroJump;
    src: url(fonts/RetroJump.ttf);
}

body {
    background-color: black;
    color: beige;
}

header{
    position: fixed;

    width: 100%;

    background-color: black;

    font-family: retroJump;
    color: #c8ad7f;
}

.bandeFine{
    height: 1px;
    width: 100%;
    background-color: #e1d2b8;
    position: relative;
}

.bandeLarge{
    height: 3px;
    width: 100%;
    background-color: #e1d2b8;
    position: relative;
}

#bandeLargeHaut{
    top : 10px;
}

#bandeFineHaut{
    top : 10px;
}

#bandeLargeBas{
    top : 50px;
}

#bandeFineBas{
    top : 50px;
}

nav{
    display: flex;
    flex-direction: row;

    position: relative;
    bottom: 23px;

    width: auto;
    height: 50px;
    margin: 0 auto;
    background-color: black;

    justify-content: space-between;

    align-items: center;
}

#logoMenu{
    width: auto;
    height: 100%;
}

nav > div {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

#menu > div {
    padding: 0 40px;
}

nav a {
    padding: 0 10px;

    font-size: xxx-large;
    color: #e1d2b8;
    text-decoration: none;
}

header a:hover {
    color: white;
    font-weight: bold;
}

.sous-menu{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0, .5);
    top: 50px;
}

.sous-menu > div > a{
    text-align: center;
    padding: 10px;
    color: beige;
    text-decoration: none;
    font-size: xxx-large;
}

nav > div > div:hover .sous-menu{
    display: block;
}

#reservation{
    width: 80px;
    height: 30px;

    background-color: black;

    border-style: double;
    border-color: #e1d2b8;

    justify-content: center;

    justify-self: flex-end;

}

#reservation:hover{
    background-color: white;
    border-color: black;
}

#reservation:hover > a{
    color: black;
    font-weight: normal;
}

nav > div:last-child {
    justify-self: flex-end;
}