@font-face {
    font-family: retroJump;
    src: url(fonts/RetroJump.ttf);
}

@font-face {
    font-family: marcelle;
    src: url(fonts/Marcelle.ttf);
}

@font-face {
    font-family: louisGeorge;
    src: url(fonts/LouisGeorgeCafe.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: black;
    font-family: louisGeorge;

    margin: auto;
    width: 1400px;
}

header {
    position: fixed;

    top: 0px;
    right: 0px;

    width: 100%;

    background-color: rgba(0, 0, 0, .7);

    font-family: retroJump;
    color: #e1d2b8;
}

.bandeFine {
    height: 1px;
    width: 100%;
    background-color: #c8ad7f;
    border-color: #c8ad7f;
    position: relative;
}

.bandeLarge {
    height: 3px;
    width: 100%;
    background-color: #c8ad7f;
    border-color: #c8ad7f;
    position: relative;
}

#bandeLargeHaut {
    top: 0px;
}

#bandeFineHaut {
    top: 0px;
}

#bandeLargeBas {
    top: 60px;
}

#bandeFineBas {
    top: 60px;
}

nav {
    display: flex;
    flex-direction: row;

    position: relative;
    bottom: 32px;

    width: 100%;
    height: 68px;
    margin: 0 auto;
    background-color: transparent;

    justify-content: space-between;

    align-items: center;
}

#logoMenu {
    width: auto;
    height: 100%;
}

nav > div {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 40px;


}

#menu > div {
    padding: 0 40px;

    width: 150px;

    align-self: center;

    text-align: center;
}

nav a {
    padding: 0 10px;

    font-size: 60px;
    color: #e1d2b8;
    text-decoration: none;
}

header a:hover {
    color: white;
    font-weight: bold;
}

.sous-menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    top: 65px;
}

.sous-menu > div:first-child {
    padding-top: 20px;
}

.sous-menu > div {
    margin-left: 10px;

    text-align: left;
}

.sous-menu > div > a {
    text-align: center;
    color: white;
    font-size: xxx-large;
}

.sous-menu > div > a:hover {
    color: white;
    font-weight: bold;
}

nav > div > div:hover .sous-menu {
    display: block;
}

.boutonReserver {
    position: relative;
    right: 35px;

    padding: 2px;

    background-color: black;

    border: 2px solid beige;
    border-radius: 20px;

    justify-content: center;

    transition-duration: 0.4s;

    box-shadow: rgba(255, 255, 255, 0.65) 0px 5px 15px;
}

.boutonReserver a {
    font-size: 35px;

    font-family: marcelle;

    color: beige;

    transition-duration: 0.4s;
}

.boutonReserver:hover a {
    color: black;
    font-weight: normal;
}

.boutonReserver:hover {
    background-color: white;
    border-color: black;

    cursor: pointer;
}

#imageGarage {
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: row;
}

.articlesMain {
    width: 50%;
    height: 500px;
    text-align: center;
}

#articleInfos {
    background-color: #231f19;
    color: lightgrey;

    position: static;

    display: flex;
    flex-direction: column;

    gap: 20px;

    border: 2px solid black;
}


#articlePrincipe {
    background-color: #817053;
    color: black;

    position: static;

    border: 2px solid black;
}

h2 {
    font-size: 45px;


    font-weight: bold;

    text-align: left;

    font-family: louisGeorge;
}

p {
    font-size: 22px;
}

#titreInfos h2 {
    margin: 0 0 0 180px;
}

#titreInfos h2:first-child {
    margin-top: 50px;
}

#traitInfos {
    width: 5%;
    height: 0.5px;
    background-color: lightgrey;

    position: relative;
    right: 190px;
}

#lesInfos {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.uneInfo {
    color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.imagesInfos {
    width: 40px;
    height: auto;
}

#mainPrincipe {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 50px;
    left: 50px;

    text-align: start;

    justify-items: start;
}

#mainPrincipe p {
    margin: 0px;
}

#articleLieu {
    background-color: #c8ad7f;

    height: 400px;
    width: 100%;

    top: 0;

    display: flex;
    flex-direction: row;

    border: 2px solid black;

    justify-content: space-between;
}

#articleLieu > div {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 50%;
    height: auto;
}

#articleLieu h2 {
    text-align: center;
    margin: 20px 0;
}

#articleLieu p {
    margin: 0 20px;
}


#articleLieu img {
    height: 200px;
    width: auto;

    margin-bottom: 10px;

    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);

    border-radius: 20px;
}

#articleLieu > div > div {
    display: flex;
    flex-direction: row;
}

#articleReservation {
    background-image: url("images/garageFooter.jpg");
    height: 450px;
    width: 100%;

    top: 50px;

    text-align: center;

    display: flex;
    flex-direction: column;

    border: 2px solid black;

    align-items: center;
}

#articleReservation h2 {
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;

    margin-top: 40px;
    margin-bottom: 10px;

    padding: 15px;
}

#articleReservation p {
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;

    margin: 0;

    padding: 15px;
}


#boutonReserverDuBas {
    background-color: rgba(0, 0, 0, .8);
    border-color: white;
    color: white;
    font-size: 70px;
    font-family: marcelle;

    box-shadow: rgba(1, 1, 1, 0.65) 0px 5px 15px;

    padding: 10px;

    margin-top: 80px;

    left: 1px;
}

#boutonReserverDuBas:hover {
    background-color: white;
    border-color: white;
    color: black;
    font-size: 60px;
}

footer {
    background-color: #232323;

    height: 250px;
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    border: 2px solid black;
}

#logoFooter {
    height: 150px;
    width: auto;

    align-self: center;
}

footer > div {
    display: flex;
    flex-direction: row;

    gap: 100px;
}

footer > div > div {
    display: flex;
    flex-direction: column;
}

footer > div > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

#insta {
    height: 25px;
    width: auto;
}

footer h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;

    margin-top: 10px;
}

footer p {
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

footer a {
    color: white;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    margin: 10px;
}

footer a:hover {
    font-weight: bold;
}

#mapFooter {
    height: 200px;
    width: auto;

    align-self: center;
}

#fleche {
    position: fixed;
    bottom: 10px;
    left: 70px;

    height: 50px;
    width: auto;
}

#fleche:hover {
    height: 60px;
    width: auto;

    bottom: 5px;
    left: 65px;
}